# .clang-format
Language:	Cpp
BasedOnStyle: Google
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterNamespace: true
  AfterStruct: true
  AfterFunction: true
  BeforeCatch: false
  BeforeElse: false